

.big-box{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.container{
	width: 100%;
	height: 100%;
	display: flex;
}





.box1{
	width: 72.5%;
	height: 100%;
}

.box2{
	background-color: #1b0f06;
	width: 22%;
	height: 100%;
}

.box3{
	background-color: #1b0f06;
	width: 5.5%;
	height: 100%;
	z-index: -200;
	min-height: 815px;
	min-width: 75px;
}





.box1-top{
	background-color: #1b0f06;
	width: 100%;
	height: 15%;
	position: relative;
	min-width: 1150px;
	min-height: 125px;
	z-index: -200;
}

.box1-top .vertical-grid{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}

.box1-top .vertical-grid .grid1{
	height: 100%;
	width: 4%;
	border-right: solid 1px;
	border-color: rgba(255,255,255,0.3);
}

.box1-top .vertical-grid .grid2{
	height: 100%;
	width: 1.5%;
	border-right: solid 1px;
	border-color: rgba(255,255,255,0.3);
}

.box1-top .vertical-grid .grid3{
	height: 100%;
	width: 82.5%;
}

.box1-top .horizontal-grid{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.box1-top .horizontal-grid .grid1{
	width: 100%;
	height: 30%;
}

.box1-top .horizontal-grid .grid2{
	width: 100%;
	height: 15%;
	border-top: solid 1px;
	border-color: rgba(255,255,255,0.3);
}

.img-star-box{
	position: absolute;
	top: 28%;
	left: 3%;
}

.img-star{
	width: 13px;
	margin-right: -3px;
	margin-bottom: -3px;
}

.img-comment-box{
	position: absolute;
	top: 32.5%;
	left: 17%;
}

.img-comment{
	width: 360px;
	display: block;
	margin-bottom: 2.4%;
}







.box1-down{
	background-color: #1b0f06;
	width: 100%;
	height: 85%;
}

.colossus{
	background-color: #1b0f06;
	width: 100%;
	height: 33.33%;
	border-top: solid 1px;
	border-color: rgba(255,255,255,0.3);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 2.5%;
	min-width: 1150px;
	min-height: 230px;
}

.colossus1{
	position: absolute;
}

.rect{
	fill: white;
	stroke: white;
	stroke-width: 2;
}

.circle{
	margin-right: 5px;
	width: 58px;
	height: 58px;
	stroke: white;
	stroke-width: 0.1;
}

@keyframes rotation1{
	0%{}
	100%{transform: rotate(1080deg);}
}

.animation1{
	animation: rotation1;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

@keyframes rotation2{
	0%{}
	100%{transform: rotate(360deg);}
}

.animation2{
	animation: rotation2;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

@keyframes rotation3{
	0%{}
	100%{transform: rotate(720deg);}
}

.animation3{
	animation: rotation3;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}








.box2-top{
	width: 100%;
	height: 37%;
	position: relative;
	min-height: 315px;
	min-width: 360px;
	border-left: solid 1px;
	border-color: rgba(255,255,255,0.3);
}

.box2-top .vertical-grid{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
}

.box2-top .vertical-grid .grid{
	width: 11.12%;
	height: 100%;
	border-right: solid 1px;
	border-color: rgba(255,255,255,0.3);
}

.box2-top .horizontal-grid{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.box2-top .horizontal-grid .grid1{
	width: 100%;
	height: 40.6%;
	border-bottom: solid 1px;
	border-color: rgba(255,255,255,0.3);
}

.box2-top .horizontal-grid .grid2{
	width: 100%;
	height: 29.7%;
	border-bottom: solid 1px;
	border-color: rgba(255,255,255,0.3);
}

.title{
	position: absolute;
	bottom: 0;
	padding-top: 11%;
}

.title1{
	padding-bottom: 2.3%;
}







.box2-down{
	background-color: #1b0f06;
	width: 100%;
	height: 63%;
	min-width: 360px;
	min-height: 500px;
}

.box2-down .down-box1{
	width: 100%;
	height: 3.5%;
	border-right: solid 1px;
	border-left: solid 1px;
	border-bottom: solid 1px;
	border-color: rgba(255,255,255,0.3);
}




.box2-down .down-box2{
	width: 100%;
	height: 28.5%;
	border-left: solid 1px;
	border-color: rgba(255,255,255,0.3);
	position: relative;
}

.box2-down .down-box2 .vertical-grid{
	width: 100%;
	height: 100%;
	display: flex;
}

.box2-down .down-box2 .vertical-grid .grid1{
	width: 5.8%;
	height: 100%;
	border-right: solid 1px;
	border-color: rgba(255,255,255,0.3);
}

.box2-down .down-box2 .vertical-grid .grid2{
	width: 1.4%;
	height: 100%;
	border-right: solid 1px;
	border-color: rgba(255,255,255,0.3);
}

.box2-down .down-box2 .horizontal-grid{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.box2-down .down-box2 .horizontal-grid .grid1{
	width: 100%;
	height: 24%;
	border-bottom: solid 1px;
	border-color: rgba(255,255,255,0.3);
}

.box2-down .down-box2 .horizontal-grid .grid2{
	width: 100%;
	height: 4%;
	border-bottom: solid 1px;
	border-color: rgba(255,255,255,0.3);
}

.cast-box{
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 0.5%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.cast{
	padding-bottom: 2%;
}





.box2-down .down-box3{
	width: 100%;
	height: 36%;
	border-left: solid 1px;
	border-color: rgba(255,255,255,0.3);
	position: relative;
}

.down-box3 .vertical-grid{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}

.down-box3 .vertical-grid .grid{
	width: 11.12%;
	height: 100%;
	border-right: solid 1px;
	border-bottom: solid 1px;
	border-color: rgba(255,255,255,0.3);
}

.button-box{
	position: absolute;
	top: calc(50% - 68px);
	left: calc(50% - 68px);
}

.button{
	background-color: #e0322b;
	border-radius: 80px;
	width: 136px;
	height: 136px;
	border: solid 1px;
	border-color: rgba(255,255,255,0.3);
}

.button:hover{
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.24);
}

.img-button{
	width: 80px;
}







.box2-down .down-box4{
	width: 100%;
	height: 27%;
	border-left: solid 1px;
	border-color: rgba(255,255,255,0.3);
	position: relative;
}

.down-box4 .vertical-grid{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}

.down-box4 .vertical-grid .grid{
	width: 5.1%;
	height: 100%;
	border-right: solid 1px;
	border-color: rgba(255,255,255,0.3);
}

.down-box4 .vertical-grid .grid1{
	width: 3.1%;
	height: 100%;
	border-right: solid 1px;
	border-color: rgba(255,255,255,0.3);
}

.down-box4 .horizontal-grid{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.down-box4 .horizontal-grid .grid{
	width: 100%;
	height: 20%;
	border-bottom: solid 1px;
	border-color: rgba(255,255,255,0.3);
}

.right-box{
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 2.9%;
	padding-top: 0.5%;
}








.box2-down .down-box5{
	width: 100%;
	height: 5%;
	border-left: solid 1px;
	border-right: solid 1px;
	border-color: rgba(255,255,255,0.3);
}






.box3-left{
	background-color: #1b0f06;
	width: 75%;
	height: 100%;
	border-right: solid 1px;
	border-color: rgba(255,255,255,0.3);
	position: relative;
}

.img-credit{
	position: absolute;
	top: 80%;
	left: 58%;
	width: 20px;
}






.img-lines1{
	position: absolute;
	opacity: 0.4;
	top: 26%;
	right: 0;
	width: 32%;
	animation: lines1 7s;
	animation-fill-mode: forwards;
}

.img-lines2{
	position: absolute;
	opacity: 0.4;
	transform: rotate(-90deg);
	top: -40%;
	left: 47%;
	width: 35%;
	animation: lines2 4s;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

.img-lines3{
	position: absolute;
	opacity: 0.4;
	transform: rotate(-90deg);
	top: -40%;
	left: 3%;
	width: 35%;
	animation: lines3 5s;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}

.img-lines4{
	position: absolute;
	opacity: 0.4;
	bottom: -42%;
	left: 4%;
	width: 7.5%;
	animation: lines4 6s;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

.img-lines5{
	position: absolute;
	opacity: 0.4;
	bottom: 7%;
	left: -9%;
	width: 32%;
	transform: rotate(-180deg);
	animation: lines5 5s;
	animation-fill-mode: forwards;
}

.img-lines6{
	position: absolute;
	opacity: 0.4;
	bottom: -25%;
	right: 26%;
	width: 7.5%;
	animation: lines6 7s;
	animation-fill-mode: forwards;
}


@keyframes lines1{
	0%{right: -35%;opacity: 0;}
	70%{opacity: 0.7;}
	100%{right: 0;opacity: 0.4;}
}

@keyframes lines2{
	0%{top: -40%;opacity: 0;}
	70%{opacity: 0.7;}
	100%{top: -16.5%;opacity: 0.4;}
}

@keyframes lines3{
	0%{top: -40%;opacity: 0;}
	70%{opacity: 0.7;}
	100%{top: -3%;opacity: 0.4;}
}

@keyframes lines4{
	0%{bottom: -42%;opacity: 0;}
	70%{opacity: 0.7;}
	100%{bottom: 0;opacity: 0.4;}
}

@keyframes lines5{
	0%{left: -40%;opacity: 0;}
	70%{opacity: 0.7;}
	100%{left: -9%;opacity: 0.4;}
}

@keyframes lines6{
	0%{bottom: -25%;opacity: 0;}
	70%{opacity: 0.7;}
	100%{bottom: 0;opacity: 0.4;}
}

















